manifest {
	name = 'Hello workflow to test WfExS environment'
	homePage = 'https://github.com/inab/hello-workflows/tree/main/nextflow'
	defaultBranch = 'main'
	mainScript = 'main.nf'
	nextflowVersion = '>=19.10.0'
}

params {
    an_input = "/etc/passwd"
    output_dir = "${baseDir}/results/"
}

docker {
  runOptions='-u $(id -u):$(id -g)'
  enabled = true
}
