manifest {
	name = 'Hello workflow (DSL2) to test WfExS environment'
	homePage = 'https://github.com/inab/hello-workflows/tree/main/nextflow-dsl2'
	defaultBranch = 'main'
	mainScript = 'main.nf'
	nextflowVersion = '>=24.04.4'
}

params {
    an_input = "/etc/passwd"
    output_dir = "${baseDir}/results/"
}

profiles {
	docker {
		docker {
		  runOptions='-u $(id -u):$(id -g)'
		  enabled = true
		}
		singularity.enabled = false
	}

	singularity {
		docker.enabled = false
		singularity {
			enabled = true
			runOptions = '--userns'
			autoMounts = true
		}
	}
}

